@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo+2:wght@500&family=Noto+Sans+JP:wght@300&family=Oswald:wght@700&family=Poppins:ital,wght@1,700;1,900&family=Quicksand&family=Vina+Sans&display=swap');

:root{
    --navy-theme-background-color: #F8F8FF;
    --navy-theme-main-color: #000000;
    --navy-them-sub-text-color: black;
    --navy-theme-nav-background-color: #D3D3D3  ;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}
body{
    background: var(--navy-theme-background-color);
    height: 100%;
}
#root{
    height: 100%;
}